@charset "UTF-8";
/* CSS Document */
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";font-size: 16px;color:#FFFFFF;margin: 0;background:black;
}
#header.navbar .navbar-expand-lg .bg-black{shadow: 5px 5px 5px lightgray; position: fixed;color:white}

#header.navbar .container-fluid .navbar-brand img{
    height: 100%; width:100%; padding-top: 13px;padding-left: 30px; 
}
#Content .nav-item .nav-link{
    padding: 10px 30px; font-weight: 400; border-radius: 30px;color: white; display: flex; justify-content: center; align-items: center;font-size:19px
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color:#D6CC99;color:white;border-radius: 12px;transition: all 0.5s;
}
.navbar .navbar-nav .nav-item .dropdown-menu{
    background-color:#D6CC99; color: white;padding-bottom: 0px;padding-top: 0px; 
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
    border-bottom: 1px dotted rgba(83,79,79,1.00)
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    color:white;transition: all 0.8s
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    padding-left: 25px;background-color: #64BD5B
}
.navbar .navbar-toggler .navbar-toggler-icon{border-radius: 8px;text-decoration-color: white;color:white}

#icon .nav-item .nav-link{color: white;
}

main #home{             
    width: 100%; min-height:800px;background-color: black;
}

.navbar-toggler-icon{color:white}
@media(max-width:667px){
    .btn-phone{color:white}
    footer{text-align: center}}
@media(max-width:700px){
    footer{text-align: center}}


@media(max-width:820px){
    footer{text-align: center}}


@media(max-width:820px){
    footer .nav .nav-item .nav-link{text-align: center; display: flex;justify-content: center;align-items: center}}
@media(max-width:667px){
    footer .nav .nav-item .nav-link{text-align: center; display: flex;justify-content: center;align-items: center}}

@media(max-width:667px){
    #commercial{text-align: center}}
@media(max-width:1180px){
    #commercial{text-align: center}}

@media(max-width:667px){
    #TVC{text-align: center}}
@media(max-width:1180px){
    #TVC{text-align: center}}

@media(max-width:667px){
    #event{text-align: center}}
@media(max-width:1180px){
    #event{text-align: center}}

@media(max-width:667px){
    #content-land h5{text-align: center}}
@media(max-width:1180px){
    #content-land h5{text-align: center}}


.nav .nav-item .nav-link{display: flex; justify-content: center;align-items: center}

#banner .container-fluid{
    width:100%; min-height: 1000px; background: url( "../img/Background.jpg"); background-repeat: no-repeat;background-size:cover;background-position:bottom top;
}

#banner .content-banner{
    position: absolute;width: 100%; height: 100%; text-align: center;display: flex;flex-direction: column;justify-content:flex-start; align-items: flex-start; padding-left: 200px;padding-top: 100px;
}
#banner .text-vang{
    display:flex; justify-content: center;align-items: center;color: #EED810;font-size: 40px; padding-top: 800px;
}

#skill{
	width: 100%;min-height: 1000px;background-color:black;display: flex;justify-content: center; align-items: center;
}
#skill .text-right{
    display: flex; align-items: center; justify-content: flex-end
}

#skill .tieu-de{
    color:white;display: flex; justify-content: center;align-items: center;
}

.progress{
	width: 100%;height: 20px;line-height: 20px;background-color:#ffffff;border-radius: 20px;
}
.bar{
	height: 20px;border-radius: 20px;color:#D6CC99;
}


#service{
	width: 100%;min-height: 1000px;background-color:black;display: flex;justify-content: center; align-items: center;
}
#service .tieu-de{
    color:white; display: flex; justify-content: center;align-items: center;
}
#service .service{
	width: 100%;min-height: 250px;display: flex
}
#service .service-icon{
	height: 160px;width: 180px;border: 1px solid white;display: flex;justify-content: center;align-items: center
}
#service .service-icon i{
	font-size: 40px;color:#D6CC99;transition: all 0.8s
}
#service .service:hover .service-icon i{
	font-size: 65px
}
#service .service-icon img{
	width: 45px;transition: all 0.6s
}
#service .service:hover .service-icon img{
	width: 60px
}
#service .service-text{
	width: 100%;height: 160px;padding: 15px;transition:  all 0.8s
}
#service .service:hover .service-text{
	background-color:#D6CC99; color: white
}
#work-vid{ width: 100%;min-height: 1000px;background-color:black}
#work-vid .tieu-de{display: flex; justify-content: center; align-items:center}
#work-vid .text-center p{
    padding-top: 50px;font-size: 28px;
}



#work-img{ width: 100%;min-height: 600px;background-color:black}
#work-img h1{display: flex;justify-content: center; align-items: center}
#work-img .item .img-fluid{width: 100%; min-height: 50%}

#work-img .owl-nav { position:absolute; left:0px; top:40%; width:100%; }

#work-img .owl-nav [class*='owl-'] {

	font-size:50px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff

}
#work-img .owl-nav .owl-next{ position:absolute; right:0%;}

#work-img .owl-nav .owl-prev{ position:absolute; left:0%;}

#work-img .owl-nav [class*='owl-']:hover {

      background:none;border: none;

      color:#EED810;

      text-decoration: none; }
#work-img .owl-dots .owl-dot span {

      width: 10px;

      height: 10px;

      margin: 10px 4px;

      background:white;

      display: block;

      -webkit-backface-visibility: visible;

      transition: opacity 200ms ease;

      border-radius: 30px; }

 #work-img .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {

      background: #EED810;}


#about {
    width: 100%;min-height: 550px;padding-top: 100px;background-color:black; display: flex; justify-content: center; align-items: center;
}
#about .container .row img{
    width: 75%;
}
#about .container .row #text-about{
}
#about .container  .img-fluid{padding-left: 100px}
.text-count{
    color:#EED810
}
#contact-banner{
    width: 100%;min-height: 80px;background-image: url( "../img/Background.jpg");background-repeat: no-repeat;background-size: 100%;
    background-color:black;
}

#portfolio{
    width: 100%;min-height: 2000px;padding-top: 100px;background:black;
}
#port-img h2{
    color:white; display: flex;justify-content: center;align-items: center;padding-top: 50px;
}
#port-img h2{
color:white;font-size:28px;
}
#port-img h2:hover{
color:#D6CC99;font-size:32px;
}

#port-video h2{
color:white;font-size:28px;
}
#port-video h2:hover{
color:#D6CC99;font-size:32px;
}
#port-video h2{color:white; display: flex;justify-content: center;align-items: center;padding-top: 30px;}


#cinematic{
    width: 100%;min-height: 2000px;padding-top: 100px;background:black;
}
#banner-cine .container-fluid{
    width:100%; min-height: 900px; background: url( "../img/Photo 1.jpg"); background-repeat: no-repeat;background-size:cover;background-position:bottom center;
}
#cinematic .text-mode{font-size: 62px;COLOR:#EED810;padding: 400px 0 0 80px}
#video-cine {padding-top: 100px}
#cinematic .text-center p{padding-top: 20px; font-size: 28px}

#commercial{
    width: 100%;min-height: 500px;padding-top: 100px;background:black;
}

#banner-com .container-fluid{
    width:100%; min-height: 900px; background: url( "../img/Com banner.png"); background-repeat: no-repeat;background-size:cover;background-position:bottom center;
}

#commercial #banner-com h3{display: flex;padding-top: 350px; padding-left: 60px; font-size:58px;
}
#commercial #banner-com p{padding-left: 60px;font-size:28px;
}
#content-com a p{font-size: 32px; padding-top: 230px;color:white}
#content-com a p:hover{
    color:#D6CC99;font-size:34px;
}

#TVC{
    width: 100%;min-height: 1000px;padding-top: 100px;background:black;
}

#banner-TVC .container-fluid{
    width:100%; min-height: 1000px; background: url(   "../img/Screen Shot 2023-10-01 at 12.19.10.jpg"); background-repeat: no-repeat;background-size:cover;background-position:bottom center;
}
#content-tvc a p{font-size: 32px; padding-top: 150px;color:white}
#content-tvc a p:hover{
    color:#D6CC99;font-size:34px;
}

#event{
    width: 100%;min-height: 1000px;padding-top: 100px;background:black;
}

#banner-event .container-fluid{
    width:100%; min-height: 1000px; background: url( "../img/event banner.jpg"); background-repeat: no-repeat;background-size:cover;background-position:bottom top;
}
#content-event a p{font-size: 32px; padding-top: 150px;color:white}
#content-event a p:hover{
    color:#D6CC99;font-size:34px;
}

#landscape{
    width: 100%;min-height:800px;padding-top: 100px;background:black;
}

#banner-land .land-banner{
    width:100%; min-height: 900px; background: url(  "../img/Landscape banner.jpg"); background-repeat: no-repeat;background-size:cover;background-position:bottom center;
}
#banner-land p{font-size:36px; padding-top:400px; padding-left:30px}

#content-land h5{display:flex; justify-content:flex-end; padding-right:36px;padding-bottom: 10px;padding-top:15px}
#content-land{width: 100%;min-height:800px;}
#content-land .doc img{width: 100%;min-height: 100%}


#street{
    width: 100%;min-height: 800px;padding-top: 100px;background:black;
}

#banner-street .street-banner{
    width:100%; min-height: 900px; background: url( "../img/street 1-4.jpg"); background-repeat: no-repeat;background-size:cover;background-position:bottom center;
}

#content-street h5{display:flex; justify-content:flex-end; padding-right:36px;padding-bottom: 10px}
#content-street{width: 100%;min-height: 800px;padding-top: 100px;background:black;}
#content-street .doc img{width: 100%;min-height: 100%}


FOOTER .nav .nav-item .nav-link{
    color:white; padding-left:0px;background: black;
}
FOOTER .nav .nav-item .nav-link:hover{
color:#D6CC99;border-radius:50px;
}
.iicon{margin-right:10px; color:white}
.iicon{color:white}
.iicon:hover{color:#D6CC99}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
    
    
    
    
    
    

/* ----------------------------------------------
 * Generated by Animista on 2023-10-13 12:54:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
